* {
  margin: 0;
  box-sizing: border-box;
}


.App__header {
  margin-top: 1%;
  text-align: center;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.App__main {
  flex: 1 1 auto;
}